__pycache__/
*.py[cod]
.venv/
.vscode/
Datas/*
!Datas/france_climat_complet.parquet
!Datas/silver_climate_data.parquet
!Datas/gold_indicators_region.parquet
!Datas/gold_indicators_departement.parquet
